<% breadcrumb :schedules %>

<h1><%= current_user.name %>のスケジュール一覧</h1>

<% if @schedules.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>スケジュール表の表示/スケジュールの詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= link_to schedule.schedule_title, schedule %></td>
          <td><%= schedule.day_start%></td>
          <td><%= schedule.day_end %></td>
          <td><%= link_to '表示',schedule_tables_path(schedule_id:(schedule.id)), class: 'btn btn-success' %>
          <%= link_to '詳細',schedule_path(id:(schedule.id)), class: 'btn btn-default' %></td>
        </tr>
      <% end %>
    </tbody> 
  </table>
  <div>
    <%= paginate @schedules %>
  </div>
<% end %>
<%= link_to '新規スケジュール作成', new_schedule_path, class: "btn btn-primary"  %>