<h1><%= @schedule.schedule_title %> のスケジュール詳細ページ</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">開始日</th>
      <th rowspan="2">終了日</th>
      <th colspan="7">勉強時間（時間）</th>
    </tr>
    <tr>
      <th>月曜日</th>
      <th>火曜日</th>
      <th>水曜日</th>
      <th>木曜日</th>
      <th>金曜日</th>
      <th>土曜日</th>
      <th>日曜日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @schedule.day_start %></th>
      <th><%= @schedule.day_end %></th>
      <th><%= @schedule.week.time_Mon %></th>
      <th><%= @schedule.week.time_Tue %></th>
      <th><%= @schedule.week.time_Wed %></th>
      <th><%= @schedule.week.time_Thu %></th>
      <th><%= @schedule.week.time_Fri %></th>
      <th><%= @schedule.week.time_Sat %></th>
      <th><%= @schedule.week.time_Sun %></th>
    </tr>
  </tbody>
</table>
<%= link_to 'スケジュールタイトル/日程の編集', edit_schedule_path(@schedule) , class: 'btn btn-default' %>
<%= link_to 'スケジュールの削除', @schedule, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
<%= link_to 'スケジュール表の表示',schedule_tables_path(@schedule), class: 'btn btn-success' %>

<h1><%= @schedule.schedule_title %>の教材一覧</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>開始ページ</th>
        <th>終了ページ</th>
        <th>1ページあたりの目安時間(分)</th>
        <th>教材の編集/削除</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.task_title, edit_schedule_task_path(schedule_id:@schedule,id:task) %></td>
          <td><%= task.page_start%></td>
          <td><%= task.page_end %></td>
          <td><%= task.time_par_page %></td>
          <td><%= link_to '編集', edit_schedule_task_path(schedule_id:@schedule,id:task) , class: 'btn btn-default' %>
          <%= link_to '削除', schedule_task_path(schedule_id:@schedule,id:task), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody> 
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
<% end %>
<%= link_to '教材新規登録', new_schedule_task_path(@schedule), class: "btn btn-primary"  %>

<%# 全体の勉強時間 %>
<% timeall = 0 %>
<% (@schedule.day_start..@schedule.day_end).each do |day| %>
  <% week = day.wday %>
  <% if week == 1 %>
    <% timeall += @schedule.week.time_Mon %>
  <% elsif week == 2 %>
    <% timeall += @schedule.week.time_Tue %>
  <% elsif week == 3 %>
    <% timeall += @schedule.week.time_Wed %>
  <% elsif week == 4 %>
    <% timeall += @schedule.week.time_Thu %>  
  <% elsif week == 5 %>
    <% timeall += @schedule.week.time_Fri %>  
  <% elsif week == 6 %>
    <% timeall += @schedule.week.time_Sat %>  
  <% else %>
    <% timeall += @schedule.week.time_Sun %>  
  <% end %>
<% end %>

<%# 教科の勉強時間 %>
<% timeall_tasks = 0 %>
<% @tasks.each do |task| %>
  <% timeall_tasks += (task.page_end-task.page_start+1)*task.time_par_page %>
<% end %>

<h3>勉強確保時間，勉強に必要な時間（自動計算）</h3>

<table class="table table-bordered">
  <thead>
    <th> 勉強確保時間 </th>
    <th> <%= timeall %>時間 </th>
    <th> 勉強に必要な時間 </th>
    <th> <%= (timeall_tasks/60.to_f).round %>時間 </th>
  </thead>
</table>
