<% breadcrumb :schedule_tables, @schedule %>

<% tables_page, day_time_record = calculation(@schedule,@tasks)%>

<%# 表示部分 %>
<% count_tasks = @tasks.count %>
<% tasks_pagecheck = Array.new(count_tasks) %>
<h1><%= @schedule.schedule_title %> のスケジュール表</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>日程</td>
      <% @tasks.each_with_index do |task, index_task| %>
        <th><%= task.task_title %></th>
        <% tasks_pagecheck[index_task] = task.page_start %>
      <% end %>
      <td>勉強時間</td>
    </tr>
  </thead>
  <tbody>
    <% (@schedule.day_start..@schedule.day_end).each_with_index do |day, index_day| %>
      <% week = day.wday %>
      <tr>
        <% if week == 1 %>
          <td><%= day %>（月）</td>
        <% elsif week == 2 %>
          <td><%= day %>（火）</td>
        <% elsif week == 3 %>
          <td><%= day %>（水）</td>
        <% elsif week == 4 %>
          <td><%= day %>（木）</td>
        <% elsif week == 5 %>
          <td><%= day %>（金）</td>
        <% elsif week == 6 %>
          <td><font color="#0000FF"><%= day %>（土）</font></td>
        <% else %>
          <td><font color="#FF0000"><%= day %>（日）</font></td>
        <% end %>
        <% @tasks.each_with_index do |task, index_task| %>
          <% s = tasks_pagecheck[index_task] %>
          <% e = tasks_pagecheck[index_task]+tables_page[index_day][index_task]-1 %>
          <% if tables_page[index_day][index_task] == 0 %>
            <th>　</th>
          <% elsif tables_page[index_day][index_task] == 1 %>
            <th><%= s %></th>
          <% else %>
            <th><%= s %>～<%= e %></th>
          <% end %>
          <% tasks_pagecheck[index_task] = e+1 %>
        <% end %>
        <td><%= day_time_record[index_day] %>時間</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'スケジュールの詳細',schedule_path(id:(@schedule.id)), class: 'btn btn-default' %></td>